<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/vinh.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="libs/slider/themes/default/default.css"/>
    <link type="text/css" rel="stylesheet" href="libs/slider/nivo-slider.css"/>
</head>
<body>
<!--Dang Dinh Si header -->
<div class="wrapper">
    <div class="header_top">
        <div class="container">
            <nav class="navbar">
                <ul class="menu_nav">
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="">
                            <i class="nav_icon fas fa-map-marker-alt"></i>
                            <span>Store Location</span>
                        </a>
                    </li>
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="">
                            <i class="nav_icon fas fa-truck"></i>
                            <span>Track Your Order</span>
                        </a>
                    </li>
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" id="btnLogin" href="#"><span>Login</span></a>
                    </li>
                    <li class="menu_nav-item">
                        <a class="navbar_link" id="btnRegister" href="#"><span>Register</span></a>
                    </li>
                </ul>
                <ul class="menu_nav">
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="#">
                            <i class="nav_icon fas fa-phone-alt"></i>
                            <span>Hotline: +123 456 7890</span>
                        </a>
                    </li>
                    <li class="menu_nav-item">
                        <a class="navbar_link" href="#">
                            <i class="nav_icon fas fa-globe-asia"></i>
                            <span>Language</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header_middle">
        <div class="container">
            <nav class="header_middle-content">
                <a href="#" class="header_logo">
                    <img src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/logo/stores/2/logo_index_2_1.png" alt="">
                </a>
                <div class="form-search">
                    <input class="input-search" placeholder="Search product..." type="text">
                    <div class="search_select">
                        <span class="select-label">All Categories</span>
                        <a class="select-icon-link" href=""><i class="select-icon fas fa-sort-down"></i></a>
                        <ul class="search-option">
                            <li class="search-option-item"><a href="#">--Category 1</a></li>
                            <li class="search-option-item"><a href="#">--Category 2</a></li>
                            <li class="search-option-item"><a href="#">--Category 3</a></li>
                            <li class="search-option-item"><a href="#">--Category 4</a></li>
                            <li class="search-option-item"><a href="#">--Category 5</a></li>
                            <li class="search-option-item"><a href="#">--Category 6</a></li>
                            <li class="search-option-item"><a href="#">--Category 7</a></li>
                            <li class="search-option-item"><a href="#">--Category 8</a></li>
                            <li class="search-option-item"><a href="#">--Category 9</a></li>
                            <li class="search-option-item"><a href="#">--Category 10</a></li>
                            <li class="search-option-item"><a href="#">--Category 11</a></li>
                        </ul>
                    </div>
                    <button class="btn-search"><i class="search-icon fas fa-search"></i></button>

                </div>
                <div class="shopping-cart">
                    <div class="header__cart-wrap">
                        <a href="#" class="btn-rounder">
                            <i class="cart-icon fas fa-shopping-cart"></i>
                            <span class="header__cart-notice">0</span>
                        </a>
                        <!-- No cart class: shopping_cart-nocart -->
                        <div class="header__cart-list shopping_cart-nocart">
                            <img class="shopping_cart-nocart-img" src="./assets/images/no-cart.png" alt="">
                            <span class="shopping_cart-nocart-msg">You have no items in your shopping cart.</span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!--End Dang Dinh Si header -->

<!-- Code cua Vinh -->
<section class="section section1">
    <div class="container">
        <div class="megamenu grid__row">
            <div class="sidebar-megamenu grid__colum-3">
                <a href="#"><p><i class="fas fa-bars"></i>ALL CATEGORIES</p></a>
            </div>
            <div class="main-megamenu grid__colum-9">
                <a class="home" href="#"><i class="fas fa-home"></i> HOME</a>
                <a href="#">DEAL</a>
                <div class="dropdown">
                    <a class="dropbtn">SUPPORT
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Manuals</a>
                        <a href="#">Expert Tips</a>
                        <a href="#">Register Complain</a>
                        <a href="#">Feedback</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
                <a>ABOUT US</a>
                <a>CONTACT US</a>
            </div>
        </div>
    </div>
</section>
<section class="section section2">
    <div class="container">
        <div class="grid__row">
            <div class="grid__colum-3 categori">
                <ul>
                    <li>
                        <a href="#">
                            <span class="iconmega"><img src="imgs/icon_v_1.png"/></span>
                            <span class="title">
                                <span > HOT DEAL</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconmega cup"><img src="imgs/icon_v_2.png"/></span>
                            <span class="title">
                                <span > BEST SELLER</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconmega"><img src="imgs/icon_v_4.png"/></span>
                            <span class="title">
                                <span > COOKING </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconmega"><img src="imgs/icon_v_6.png"/></span>
                            <span class="title">
                                <span > REFRIGERATION</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconmega"><img src="imgs/icon_v_8.png"/></span>
                            <span class="title">
                                <span > APPLIANCES</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconmega"><img src="imgs/icon_v_9.png"/></span>
                            <span class="title">
                                <span >FOODSTORAGE</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconmega gift"><img src="imgs/13.png"/></span>
                            <span class="title">
                                <span > NEW PRODUCT</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="morecate">
                            <span class="iconmega"><i class="fas fa-plus-circle"></i></span>
                            <span class="title">
                                <span >More Categories</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="slide grid__colum-9">
                <div class="slide">
                    <div class="theme-default">
                        <div id="slider" class="nivoSlider">
                            <img src="imgs/1.jpg" data-thumb="1.jpg" alt="" />
                            <img src="imgs/2.jpg" data-thumb="2.jpg" alt=""  />
                            <img src="imgs/3.jpg" data-thumb="3.jpg" alt="" data-transition="slideInLeft" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Best-seller si dang -->
<div class="container">
    <div class="best-seller">
        <div class="best-seller_title">
            <span class="best-seller_title-text">best seller</span>
        </div>
        <div class="grid__row">
            <div class="grid__colum-4">
                <div class="product_left">
                    <div class="product_left_overlay"></div>
                    <a href="#" class="product_left_img">
                        <img src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/e9a9b2fd60f7ce55bf91e4513f98a6ed/1/1/11_4.jpg" alt="">
                    </a>
                    <div class="product_left_info">
                        <span class="product_left_name">Philips HR1861 Whole Fruit Juicer</span>
                        <span class="product_left_price">$1.60</span>
                        <ul class="product_left_choose-item">
                            <li class="product_left_choose-list">
                                <a class="product_left_choose-link" href="#">
                                    <i class="product_left_choose-icon fas fa-heart"></i>
                                </a>
                            </li>
                            <li class="product_left_choose-list">
                                <a class="product_left_choose-link" href="#">
                                    <i class="product_left_choose-icon fas fa-eye"></i>
                                </a>
                            </li>
                            <li class="product_left_choose-list">
                                <a class="product_left_choose-link" href="#">
                                    <i class="product_left_choose-icon fas fa-cart-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid__colum-8">
                <div class="grid__row">
                    <div class="grid__colum-6">
                        <div class="best_seller_right_product">
                            <div class="best_seller_right_product_overlay"></div>
                            <img class="best_seller_right_product-img" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/671c7e3e703baa099f924f2264b82465/5/_/5_2.jpg" alt="">
                            <div class="best_seller_right_product-detail">
                                <a href="#" class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</a>
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-6">
                        <div class="best_seller_right_product">
                            <div class="best_seller_right_product_overlay"></div>
                            <img class="best_seller_right_product-img" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/671c7e3e703baa099f924f2264b82465/5/_/5_2.jpg" alt="">
                            <div class="best_seller_right_product-detail">
                                <a href="#" class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</a>
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-6">
                        <div class="best_seller_right_product">
                            <div class="best_seller_right_product_overlay"></div>
                            <img class="best_seller_right_product-img" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/671c7e3e703baa099f924f2264b82465/5/_/5_2.jpg" alt="">
                            <div class="best_seller_right_product-detail">
                                <a href="#" class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</a>
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-6">
                        <div class="best_seller_right_product">
                            <div class="best_seller_right_product_overlay"></div>
                            <img class="best_seller_right_product-img" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/671c7e3e703baa099f924f2264b82465/5/_/5_2.jpg" alt="">
                            <div class="best_seller_right_product-detail">
                                <a href="#" class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</a>
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-6">
                        <div class="best_seller_right_product">
                            <div class="best_seller_right_product_overlay"></div>
                            <img class="best_seller_right_product-img" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/671c7e3e703baa099f924f2264b82465/5/_/5_2.jpg" alt="">
                            <div class="best_seller_right_product-detail">
                                <a href="#" class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</a>
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-6">
                        <div class="best_seller_right_product">
                            <div class="best_seller_right_product_overlay"></div>
                            <img class="best_seller_right_product-img" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/671c7e3e703baa099f924f2264b82465/5/_/5_2.jpg" alt="">
                            <div class="best_seller_right_product-detail">
                                <a href="#" class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</a>
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Best-seller sidang -->
<section class="section section3">
    <div class="container">
        <div class="menupolicy grid__row">
            <div class="policy grid__colum-3">
                <a href="#" class="detailpolicy">
                    <div class="imgpolicy grid__colum-3">
                        <img src="imgs/icon-policy-1.png"/>
                    </div>
                    <div class="titlepolicy grid__colum-9">
                        <h3>FREE SHIPPING</h3>
                        <p>On Orders Over $49.00</p>
                    </div>
                </a>
            </div>
            <div class="policy grid__colum-3">
                <a href="#" class="detailpolicy">
                    <div class="imgpolicy grid__colum-3">
                        <img src="imgs/icon-policy-2.png"/>
                    </div>
                    <div class="titlepolicy grid__colum-9">
                        <h3>MONEY GUARANTEE</h3>
                        <p>30 days back</p>
                    </div>
                </a>
            </div>
            <div class="policy grid__colum-3">
                <a href="#" class="detailpolicy ">
                    <div class="imgpolicy grid__colum-3">
                        <img src="imgs/icon-policy-3.png"/>
                    </div>
                    <div class="titlepolicy grid__colum-9">
                        <h3>PAYMENT METHOD</h3>
                        <p>Secure System</p>
                    </div>
                </a>
            </div>
            <div class="policy grid__colum-3">
                <a href="#" class="detailpolicy">
                    <div class="imgpolicy grid__colum-3">
                        <img src="imgs/icon-policy-4.png"/>
                    </div>
                    <div class="titlepolicy grid__colum-9">
                        <h3>ONLINE SUPPORT</h3>
                        <p>24 hours a day</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section section4">
    <div class="container">
        <div  class="bannerimg">
            <img src="imgs/Index_gif.gif"/>
        </div>
        <div class="grid__row">
            <div class="hotcategori">
                <div class="grid__colum-3">
                    <div class=" Refrigeration ">
                        <a href="/products/category/1"> Refrigeration</a>
                    </div>
                </div>
                <div class="grid__colum-3" >
                    <div class="Appliances ">
                        <a href="/products/category/2"> Appliances</a>
                    </div>
                </div>
                <div class=" grid__colum-3">
                    <div class="Cookwares">
                        <a href="/products/category/3"> Cookwares</a>
                    </div>
                </div>
                <div class="grid__colum-3 ">
                    <div class="Foodstorage ">
                        <a href="/products/category/4"> Foodstorage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section5">
    <div class="container">
        <div class="deal">
            <h2><span>FLASH DEAL</span></h2>
        </div>
        <div class="grid__row">
        </div>
        <div class="owlslide ">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <% for( var i=0; i<products.length;i++) {%>
                        <div class="owl-item">
                            <a href="/detail/<%=products[i].Id%>">
                                <div>
                                    <img src="<%=products[i].DefaultImage%>"/>
                                </div>
                                <p class="itemtitle"><%=products[i].Name %></p>
                            </a>
                            <div class="best_seller_right_product-action-star">
                                <a href="#"><i class="fas fa-star"></i></a>
                                <a href="#"><i class="fas fa-star"></i></a>
                                <a href="#"><i class="fas fa-star"></i></a>
                                <a href="#"><i class="fas fa-star"></i></a>
                                <a href="#"><i class="far fa-star"></i></a>
                            </div>
                            <div>
                                <p class="price">$<%=products[i].Price%></p>
                                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                            <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid__row">
            <div class="grid__colum-6 banner1">
                <a href="#"><img src="imgs/id2_static_banner_1.jpg"/></a>
            </div>
            <div class="grid__colum-6 banner2">
                <a href="#"><img src="imgs/id2_static_banner_2.jpg"/></a>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="section section6">
    <div class="container">
        <div class="newproducttitle">
            <h2> NEW PRODUCT</h2>
        </div>
        <div class="grid__row">
            <div class="grid__colum-3">
                <div class="newitem">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="imgs/Capture1.PNG"/>
                                <span>cookware</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="imgs/Capture2.PNG"/>
                                <span>cookware</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="imgs/Capture3.PNG"/>
                                <span>cookware</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="imgs/Capture4.PNG"/>
                                <span>cookware</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="imgs/Capture5.PNG"/>
                                <span>cookware</span>
                            </a>
                        </li>
                        <li class="lastest">
                            <a href="#">
                                <img src="imgs/Capture6.PNG"/>
                                <span>cookware</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__colum-9">
                <div class="grid__row">
                    <div class="grid__colum-4">
                        <div class="newproduct">
                            <a href="#">
                                <img  src="imgs/chao.jpg"/>
                                <p class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</p>
                            </a>
                            <div class="best_seller_right_product-detail">
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid__colum-4">
                        <div class="newproduct">
                            <a href="#">
                                <img  src="imgs/chao.jpg"/>
                                <p class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</p>
                            </a>
                            <div class="best_seller_right_product-detail">
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-4">
                        <div class="newproduct">
                            <a href="#">
                                <img  src="imgs/chao.jpg"/>
                                <p class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</p>
                            </a>
                            <div class="best_seller_right_product-detail">
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-4">
                        <div class="newproduct">
                            <a href="#">
                                <img  src="imgs/chao.jpg"/>
                                <p class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</p>
                            </a>
                            <div class="best_seller_right_product-detail">
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-4">
                        <div class="newproduct">
                            <a href="#">
                                <img  src="imgs/chao.jpg"/>
                                <p class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</p>
                            </a>
                            <div class="best_seller_right_product-detail">
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid__colum-4">
                        <div class="newproduct">
                            <a href="#">
                                <img  src="imgs/chao.jpg"/>
                                <p class="best_seller_right_product-title">The Wonder and Science of Soundaaaaaaaaaa</p>
                            </a>
                            <div class="best_seller_right_product-detail">
                                <span class="best_seller_right_product-price">$59.00</span>
                                <div class="best_seller_right_product-action">
                                    <div class="best_seller_right_product-action-star">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="far fa-star"></i></a>
                                    </div>
                                    <a class="best_seller_right_product-action-star_cart" href="#"><i class="fas fa-cart-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('footer')-%>
<!-- Ket thuc code cua Vinh -->
<!-- Modal login and register,Dang dinh si -->
<div class="modal_login-resgiter" id="myModal">
    <div class="modal_overlay" id="myModal_overlay"></div>
    <div class="modal_body">
        <!-- Register form -->
        <div class="auth-form" id="formRegister">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Register</h3>
                    <span class="auth-form__switch-btn"><a href="#" class="myExit" style="color: #888888;font-size: 1.8rem;"><i class="fas fa-times"></i></a></span>
                </div>
                <form action="#" method="#"></form>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" placeholder="Fistname" class="auth-form__input">
                    </div>
                    <div class="auth-form__group">
                        <input type="text" placeholder="Lastname" class="auth-form__input">
                    </div>
                    <div class="auth-form__group">
                        <input type="text" placeholder="Email..." class="auth-form__input">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" placeholder="Password..." class="auth-form__input">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" placeholder="Confirm Password..." class="auth-form__input">
                    </div>

                </div>
                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        By clicking Create Account, you acknowledge you have read and agreed to our <a class="auth-form__policy-link" href="#">Terms of Use</a> &
                        <a class="auth-form__policy-link" href="#">Privacy Policy</a>.
                    </p>
                </div>
                <div class="auth-form__controls">
                    <button class="btn btn-back">back</button>
                    <button class="btn btn--primary btn-disable">register</button>
                </div>
            </div>
            <div class="auth-form__socials">
                <a href="#" class="auth-form__socials-flex auth-form__socials--facebook btn btn--size-s btn--with-icon ">
                    <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                    <span>facebook</span>
                </a>
                <a href="#" class="auth-form__socials-flex auth-form__socials--google btn btn--size-s btn--with-icon">
                    <img class="auth-form__socials_img-google" src="./assets/images/google.png" alt="">
                    <span>google</span>
                </a>
            </div>
            </form>
        </div>
        <!-- Login form -->
        <div class="auth-form" id="formLogin">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Login</h3>
                    <span class="auth-form__switch-btn"><a href="#" class="myExit" style="color: #888888;font-size: 1.8rem;"><i class="fas fa-times"></i></a></span>
                </div>
                <form action="#" method="#"></form>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" placeholder="Email..." class="auth-form__input">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" placeholder="Password..." class="auth-form__input">
                    </div>
                </div>
                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a href="#" class="auth-form__help-link auth-form__help-forgot">Forgot password</a>
                        <span class="auth-form__help-separate"></span>
                        <a href="#" class="auth-form__help-link">Need help?</a>
                    </div>
                </div>
                <div class="auth-form__controls">
                    <button class="btn btn-back">back</button>
                    <button class="btn btn--primary btn-disable">Login</button>
                </div>
            </div>
            <div class="auth-form__socials">
                <a href="#" class="auth-form__socials-flex auth-form__socials--facebook btn btn--size-s btn--with-icon ">
                    <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                    <span>facebook</span>
                </a>
                <a href="#" class="auth-form__socials-flex auth-form__socials--google btn btn--size-s btn--with-icon">
                    <img class="auth-form__socials_img-google" src="./assets/images/google.png" alt="">
                    <span>google</span>
                </a>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal login and register,Dang dinh si -->
<script type="text/javascript" src="Jquery/JQuery.js"></script>
<script src="libs/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="libs/slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        dots: false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
    })
</script>

<!-- JS modal regiser and login -->
<script>
    var modal = $("#myModal");
    var regiser =$('#btnRegister');
    var login =$('#btnLogin');
    var exit =$('.myExit');
    $(function(){
        regiser.click(function(){
            $('#formLogin').css("display","none");
            $('#formRegister').css("display","block");
            modal.css("visibility","visible");
            modal.css("opacity","1");
        });
        login.click(function(){
            $('#formRegister').css("display","none");
            $('#formLogin').css("display","block");
            modal.css("visibility","visible");
            modal.css("opacity","1");
        });
        exit.click(function(){
            modal.css("visibility","hidden");
            modal.css("opacity","0");
        });
        $('#myModal_overlay').click(function(){
            modal.css("visibility","hidden");
            modal.css("opacity","0");
        });

    });
    $('#slider').nivoSlider({
        controlNavThumbs: true
    });
</script>
<!-- JS modal regiser and login -->
</body>
</html>
